
body {
	margin-left:30px;
	margin-top:10px;	
}

#game-board {
	position:relative;
}

.triangle {
	height:0;
	width:0;
	border-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color:#d08c49;
	border-width:0px 300px 520px 300px;	
	margin-left:15px;
	margin-top:17px;
}

.triangle2 {
	height:0;
	width:0;
	border-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color:#b06c29;
	border-width:0px 315px 546px 315px;
	position:absolute;
	z-index:-1;
	top:-17px;
}

.pegs {
	top: 50px;
	left:13px;
	position:absolute;
}

cb-grid {
	border:1px black solid;
	margin-left:50px;
	width:800px;
}

cb-top-row {
	padding-top:0px;
}

#peg-location {
	height:60px;
	width:60px; 
	border-radius: 100%;
	background-color: #c62d1f;
	outline:none;
	border:1px solid #d02718;
	box-shadow: 6px 6px 0px 0px #8a2a21;
}

#peg-location.empty {
	background-color:black;
	border: 2px solid black;
	height:50px;
	width:50px; 	
	margin-top:5px;
	box-shadow: none;
}

#peg-location.from-selected {
  box-shadow: 12px 12px 0px 0px #8a2a21;
  margin-top:-6px;
  margin-left:-6px;
}

#peg-location.to-selectable {
	background-color:black;
	height:50px;
	width:50px; 	
	margin-top:5px;
	border: 2px solid black;
	box-shadow: none;
}

#peg-location.from-selectable:hover {
	cursor:pointer;		
  box-shadow: 9px 9px 0px 0px #8a2a21;
  margin-top:-3px;
  margin-left:-3px;
}

#peg-location.to-selectable:hover {
	cursor:pointer;	
	background-color:#292929;
}