
#game-board {
	position:relative;
}

.triangle {
	height:0;
	width:0;
	border-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color:#f4a442;
	border-width:0px 300px 520px 300px;	
}

.pegs {
	top: 50px;
	position:absolute;
}


#peg-location {
	height:60px;
	width:60px; 
	border-radius: 100%;
	background-color: #880000;
	outline:none;
}

#peg-location.empty {
	background-color:black;
	border: 2px solid black;
	height:50px;
	width:50px; 	
	margin-top:5px;
}

#peg-location.from-selected {
	background-color:#ff0000;
	outline:none;
}

#peg-location.to-selectable {
	background-color:black;
	height:50px;
	width:50px; 	
	margin-top:5px;
	border: 2px solid black;
}

#peg-location.from-selectable:hover {
	background-color:#bb0000;
  cursor:pointer;		
}

#peg-location.to-selectable:hover {
	cursor:pointer;		
	height:60px;
	width:60px; 	
	margin-top:-1px;
}